<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.umangpandya.aide">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AideApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/AppTheme.DarkStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ChatActivity"
            android:theme="@style/AppTheme.DarkStatusBar"/>
        <activity
            android:name=".ui.activity.NotesActivity"
            android:theme="@style/AppTheme.DarkStatusBar"/>

        <provider
            android:name=".data.provider.NotesProvider"
            android:authorities="com.umangpandya.aide"
            android:exported="false"
            android:syncable="true" />

        <!-- Widget-->
        <receiver
            android:name=".widget.NotesWidgetProvider"
            android:label="@string/widget_text">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="barqsoft.footballscores.ACTION_DATA_UPDATED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wdget_info_detail"/>
        </receiver>

        <service
            android:name=".widget.NotesWidgetRemoteViews"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>